{{!-- User interaction with an individual blogpost --}}
<section id="blogpost-container">
    <div class="blogpost-display">
        <p class="large-font"><span>{{{blogpost.emoji}}}</span> {{blogpost.title}}</p>
        <p class="small-font blogpost-content">{{blogpost.blog_content}}</p>
        <p class="small-font comment-author">Posted by: {{blogpost.user.name}}</p>
        {{#if isSameUser}}
        <div class="add-button-row-container">
            <a href="/api/comment/{{blogpost.id}}"><button class="add-comment-button">Add Comment</button></a>
            <a href="/api/post/update/{{blogpost.id}}"><button class="add-comment-button">Update Post</button></a>
            <a href="/api/post/confirm/{{blogpost.id}}"><button class="delete-post-button">Delete Post</button></a>
            <p class="small-font comment-date">Last updated: {{format_date blogpost.updatedAt}}</p>
        </div>
        {{else}}
        <div class="add-button-row-container">
            <a href="/api/comment/{{blogpost.id}}"><button class="add-comment-button">Add Comment</button></a>
            <p class="small-font comment-date">{{format_date blogpost.createdAt}}</p>
        </div>
        {{/if}}
        <div class="comment-container">
            {{#if isSameUser}}
            {{#each comment as |individual_comment| }}
            <p class="comment-content small-font">{{individual_comment.comment_content}}</p>
            <p class="comment-author small-font">Comment by: {{individual_comment.user.name}}</p>
            <p class="comment-date small-font">{{format_date individual_comment.createdAt}}</p>
            <button class="delete-comment-button" data-comment-id={{individual_comment.id}} data-blog-id={{individual_comment.blog_id}}>Delete Comment</button>
            {{/each}}
            {{else}}
            {{#each comment as |individual_comment| }}
            <p class="comment-content small-font">{{individual_comment.comment_content}}</p>
            <p class="comment-author small-font">Comment by: {{individual_comment.user.name}}</p>
            <p class="comment-date small-font">{{format_date individual_comment.createdAt}}</p>
            {{/each}}
            {{/if}}
        </div>
    </div>
</section>

<script src="/js/deleteComment.js"></script>